
.movieCard {
    flex-shrink: 0; 
    width: 200px; 
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: none; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    scroll-snap-align: start;
    border: 2px solid #f3f3f3; 
}

.movieCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 10px #777;
}


/* --- Poster Area --- */
.moviePoster {
    position: relative; 
    width: 100%;
    height: 250px; 
}

.moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}
.movieCard:hover .moviePoster::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(119, 119, 119, 0.5); 
    transition: background 0.3s ease;
    z-index: 1; 
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    
    background-color: rgba(255, 255, 255, 0.15); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); 
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; 
    
    opacity: 0; 
    transition: all 0.4s ease-in-out;
    cursor: pointer
}
.movieCard:hover .playButton {
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1.1); 
}

.movieInfo {
    padding: 10px;
    text-align: left;
}

.movieInfo h3 {
    font-size: 1em;
    margin: 0 0 5px 0;
    color: #333;
    /* Truncate long title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieYrar_genre,.movieRating_views{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 10px;
}
.movieYear ,.movieGenre{
    color: #777;
}



.rating {
    color: #f7b733; 
    display: flex;
}
.views{
    display: flex;
    align-items: center;
    color: #777;
}
.rating svg,.views svg{
    width: 14px;
    height: 14px;
    margin-right: 5px;
}