@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden; /* لمنع أي تمرير على مستوى الصفحة كلها */
}


/* css for style loding page  */
.loding{
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loding.light{
  background-color:#f8f8f8 ;
}
.loding.dark{
  background-color: #121212;
}
.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loding.dark .loader{
  color:#fff;
}
.loding.light .loader{
  color: #000;
}

.loader::after, .loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}